h1 {
    color: blue;
    font-size: 60px;
    font-family: sans-serif;
}
.about_me {
    color:yellow;
    font-size: 60px;
    font-family: sans-serif;
}

.contact_me {
    color: blue;
    font-size: 60px;
    font-family: sans-serif;
}